<h1><%= @breed.name %></h1>
<p><img src="<%= @breed.image_url %>" class="img-fluid" alt="<%= @breed.name %>"></p>
<h2>Sub-breeds</h2>
<ul>
  <% @breed.sub_breeds.each do |sub_breed| %>
    <li>
      <%= link_to sub_breed.name, breed_sub_breed_path(@breed, sub_breed) %>
    </li>
  <% end %>
</ul>