<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1>About Me</h1>
      <p class="lead mt-4">Hello! I’m [Your Name], a passionate developer working on various projects to build my skills and explore the world of web development. This Dog Breeds App is part of my learning journey.</p>
      <p>I used Ruby on Rails and Bootstrap to create this application, which displays information about dog breeds and their sub-breeds. I hope you find it informative and enjoyable!</p>
    </div>
  </div>
</div>
